// Color Palette from XD
$white:         #ffffff;
$black:         #000000;
$red:           #D0011B;
$dark-gray:     #404040;
$mid-gray:      #9B9B9B;
$light-gray:    #DDDDDD;
$faint-gray:    #F8F8F8;
$faint-gray-2:  #F6F6F6;
$mid-gray-2:    #959499;
$star-gold:     #FEA124;
$fit-btn-text-inactive: #404040;

// Custom Brand Colors
$primary-blue:  #007BFF;
$light-blue-bg: #EAF5FE;

// Bootstrap variable overrides
$body-color: $dark-gray;
$primary: $primary-blue;
$danger: $red;
